In [2]:
# optional pandas configurations to debug

import pandas as pd

#pd.options.mode.chained_assignment = 'raise'

pd.set_option('display.max_rows', 20)
pd.set_option('display.min_rows', 20)
pd.set_option('display.max_columns', 50)

print('Done')

Done

In [1]:
from som_app import process_input_data, build_core_object_model, build_second_object_layer, postprocess_object_layers

# Process survey data and read general input
survey_df, object_data = process_input_data()

# Build core object model and initialize core object instances
measure_df = build_core_object_model(survey_df=survey_df, object_data=object_data)

# Build second object layer model and initialize second object layer instances
countrybasin_df = build_second_object_layer(measure_df=measure_df, object_data=object_data)

# Post-process object layers by setting values based on general input
countrybasin_df = postprocess_object_layers(countrybasin_df=countrybasin_df, object_data=object_data)

/Users/ajk/Repositories/helcom_blues/src/som/som_tools.py:159: RuntimeWarning: divide by zero encountered in true_divide
  scaling_factor = np.divide(max_expected_value, max_effectivness)

In [2]:
countrybasin_df

,instance,country-basin id,basin id,country id
0,Denmark (1) and Kattegat (1),1001,1000,1
1,Denmark (1) and Great Belt (2),2001,2000,1
2,Denmark (1) and The Sound (3),3001,3000,1
3,Denmark (1) and Kiel Bay (4),4001,4000,1
4,Denmark (1) and Bay of Mecklenburg (5),5001,5000,1
5,Denmark (1) and Arkona Basin (6),6001,6000,1
6,Denmark (1) and Bornholm Basin (7),7001,7000,1
7,Estonia (2) and Eastern Gotland Basin (9),9002,9000,2
8,Estonia (2) and Gulf of Riga (11),11002,11000,2
9,Estonia (2) and Northern Baltic Proper (12),12002,12000,2
10,Estonia (2) and Gulf of Finland (13),13002,13000,2
11,Finland (3) and Northern Baltic Proper (12),12003,12000,3
12,Finland (3) and Gulf of Finland (13),13003,13000,3
13,Finland (3) and Ã…land Sea (14),14003,14000,3
14,Finland (3) and Bothnian Sea (15),15003,15000,3
15,Finland (3) and The Quark (16),16003,16000,3
16,Finland (3) and Bothnian Bay (17),17003,17000,3
17,Germany (4) and Kiel Bay (4),4004,4000,4
18,Germany (4) and Bay of Mecklenburg (5),5004,5000,4
19,Germany (4) and Arkona Basin (6),6004,6000,4
20,Germany (4) and Bornholm Basin (7),7004,7000,4
21,Latvia (5) and Eastern Gotland Basin (9),9005,9000,5
22,Latvia (5) and Gulf of Riga (11),11005,11000,5
23,Lithuania (6) and Eastern Gotland Basin (9),9006,9000,6
24,Poland (7) and Bornholm Basin (7),7007,7000,7
25,Poland (7) and Gdansk Basin (8),8007,8000,7
26,Poland (7) and Eastern Gotland Basin (9),9007,9000,7
27,Russia (8) and Gdansk Basin (8),8008,8000,8
28,Russia (8) and Eastern Gotland Basin (9),9008,9000,8
29,Russia (8) and Gulf of Finland (13),13008,13000,8
30,Sweden (9) and Kattegat (1),1009,1000,9
31,Sweden (9) and The Sound (3),3009,3000,9
32,Sweden (9) and Arkona Basin (6),6009,6000,9
33,Sweden (9) and Bornholm Basin (7),7009,7000,9
34,Sweden (9) and Eastern Gotland Basin (9),9009,9000,9
35,Sweden (9) and Western Gotland Basin (10),10009,10000,9
36,Sweden (9) and Northern Baltic Proper (12),12009,12000,9
37,Sweden (9) and Ã…land Sea (14),14009,14000,9
38,Sweden (9) and Bothnian Sea (15),15009,15000,9
39,Sweden (9) and The Quark (16),16009,16000,9
40,Sweden (9) and Bothnian Bay (17),17009,17000,9